* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(192, 192, 192, 0.1);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}
#main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-areas:
        "headline headline student"
        "quote quote student"
        "profile profile contact"
        "exp-grid exp-grid exp-grid";
    align-items: center;
    
}
#headline{
    grid-area: headline;
}
#student-picture{
    grid-area: student;
    text-align: center;
}
#student-quote{
    grid-area: quote;
}
#student-profile{
    grid-area: profile;
}
#student-contact{
    grid-area: contact;
    text-align: center;
}
#experience-grid{
    grid-area : exp-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-areas: 
    "code code"
    "web web"
    "database design"
}
#experience-code{
    grid-area: code;
}
#experience-web{
    grid-area: web;
}
#experience-database{
    grid-area: database;
}
#experience-design{
    grid-area: design;
}

@media only screen and (max-width: 1024px){
    #main-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 35px;
        grid-template-areas:
            "headline headline"
            "quote student"
            "quote contact"
            "profile profile"
            "exp-grid exp-grid";
        align-items: center;
    }
    #experience-grid{
        grid-area : exp-grid;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-areas: 
        "code web"
        "database design"
    }
}

@media only screen and (max-width: 450px){
    #main-grid{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        column-gap: 35px;
        grid-template-areas:
            "headline"
            "student"
            "contact"
            "quote"
            "profile"
            "exp-grid";
        align-items: center;
    }
    #experience-grid{
        grid-area : exp-grid;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-areas: 
        "code" 
        "web"
        "database" 
        "design";
    }
}
